body {
  background: #ffddd6;
  font-family: Verdana, Courier New, Times New Roman;
  color:#343233;
}

nav.menu2 {
  margin: 20px auto;
  width: 500px;
}

li {
  list-style-type: none;
  background: linear-gradient(rgba(220, 220, 255, 0.4) 85%, rgba(255, 255, 255, 0.5) 100%);
  float: left;
  cursor: pointer;
  padding: 3px 10px;
  border-top: 2px solid rgba(200, 200, 255, 0.5);
  border-bottom: 2px solid rgba(50, 50, 50, 0.4);
  transition: all .4s;
}

li:first-child {
  border-radius: 5px 0 0 5px;
}

li:last-child {
  border-radius: 0 5px 5px 0;
}

a {
  display: block;
  padding: 10px 13px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 5px;
  position: relative;
  top: 0;
  color: #4a4749;
  transition: all .4s;
}

li:hover a {
  top: -3px;
  color: #343233;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.7);
  transition: all .4s;
}

li a:after {
  display: block;
  content: '';
  position: absolute;
  top: 100%;
  left: 42%;
  border-style: solid;
  border-color: transparent;
  border-width: 5px 5px 0 5px;
  transition: all .4s;
}

li:hover a:after {
  border-color: white transparent transparent transparent;
  transition: all .4s;
}

table {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
}

.product-list-table {
  padding: 10px;
}

.product-list-table div {
  text-align: center;
  background-color: #FFE5F1;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 50px;
}

h2, p {
  margin: 10px 0;
}

button {
  background-color: #C0B9BF;
  color: #343233;
  border: none;
  padding: 12px 6px;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 10px;
  transition: .2s ease-in-out 0s;
}

button:hover {
  cursor: pointer;
  transform: scale(1.25);
}

.product-details-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.product-image {
  max-width: 700px;
  padding-right: 20px;
}

.product-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.product-description {
  padding-left: 20px;
}

img{
  border-radius: 30px;
  border: 5px solid transparent;
  border-color: #C0B9BF
}

input{
  border: 2px solid #C0B9BF;
  border-radius: 4px;
  padding: 8px 12px;
  margin: 2px 0;
}

textarea{
  border: 2px solid #C0B9BF;
  border-radius: 4px;
  padding: 8px 12px;
  margin: 2px 0;
}

select{
  border: 2px solid #C0B9BF;
  border-radius: 4px;
  padding: 8px 12px;
  margin: 2px 0;
}


